includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: max
    paths:
        - app
        - src

    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
